# Both
node_modules/
.env
*.log
logs/
backups/

# Frontend
frontend/dist/
frontend/.env.local

# Backend
backend/.env
backend/dist/

# System
.DS_Store

# Temp, Media & Processing
abc.pdf
logout error.mp4
extract_data.py
processing/
temp-clone/

